<!--
	Please see https://wiki.gtaconnected.com/ServerConfiguration for a list of options and information
-->

<server>
	<!-- General Information -->
	<servername>Default Server</servername>
	<game>gta:iii</game>
	<gamemode>Free Roam</gamemode>
	<serverbrowser>true</serverbrowser>
	<maxplayers>32</maxplayers>
	<password></password>
	<minclientversion>1.5.0</minclientversion>
	<duplicatenames>false</duplicatenames>

	<!-- Networking -->
	<port>22000</port>
	<httpport>22000</httpport>
	<httpserver>true</httpserver>
	<streaminterval>1000</streaminterval>
	<syncinterval>30</syncinterval>
	<syncmethod>interval</syncmethod>
	<synclocalentities>true</synclocalentities>

	<!-- Element Streaming -->
	<streamindistance>200</streamindistance>
	<streamoutdistance>250</streamoutdistance>
	<pickupstreamindistance>30</pickupstreamindistance>
	<pickupstreamoutdistance>50</pickupstreamoutdistance>

	<!-- Logging -->
	<logpath>logs</logpath>
	<logtimestamp>[%d/%m/%Y - %X]</logtimestamp>

	<!-- GTA IV -->
	<!-- https://wiki.gtaconnected.com/Resources/GTAIV/GameModes -->
	<!-- https://wiki.gtaconnected.com/Resources/GTAIV/Episodes -->
	<iv_gamemode>8</iv_gamemode>
	<iv_episode>-1</iv_episode>

	<!-- Modules -->
	<!-- https://wiki.gtaconnected.com/Modules -->
	<modules>
	</modules>

	<!-- Global CVars -->
	<!-- https://wiki.gtaconnected.com/CVars -->
	<cvar name="nametags" value="1" />
	<cvar name="gunshops" value="1" />
	<cvar name="uniquestuntjumps" value="1" />
	<cvar name="stuntjumps" value="1" />
	<cvar name="stauntontoiletcamera" value="1" />
	<cvar name="gates" value="1" />
	<cvar name="trains" value="1" />
	<cvar name="planes" value="1" />
	<cvar name="maximumwantedlevel" value="6" />
	<cvar name="defaultparkedcars" value="1" />
	<cvar name="ambulances" value="1" />
	<cvar name="traffic" value="1" />
	<cvar name="civilians" value="1" />
	<cvar name="defaultpickups" value="1" />
	<cvar name="singleplayer" value="1" />
	<cvar name="bigmap" value="1" />
	<cvar name="iv_playerwalking" value="0" />
	<cvar name="iv_scenariopeds" value="1" />
	<cvar name="iv_randomcops" value="1" />

	<!-- Rules -->
	<!-- https://wiki.gtaconnected.com/ServerRules -->
	<rule name="Owner" value="Nobody" />
	<rule name="Website" value="https://gtaconnected.com" />

	<!-- Resources -->
	<!-- https://wiki.gtaconnected.com/Resources -->
	<resources>
		<resource src="freeroam" />
	</resources>
</server>